body {
    background-color: var(--backgroundGray);
}

#loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    background-color: var(--redColor);
}

